<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a27aa7d6-bc1c-49d1-a2fb-a18d00d64ea5" name="EMP-TESTSUITE01" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">true</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="GeneratableAllureReport@Folder">C:\Users\IQT\Desktop\Shaheen-Ready API tool\Day#3\AllureReport</con:setting><con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting><con:setting id="GeneratableJUnitReport@Folder">C:\Users\IQT\Desktop\Shaheen-Ready API tool\Day#3\AllureReport</con:setting><con:setting id="a27aa7d6-bc1c-49d1-a2fb-a18d00d64ea5fileName">EMP-TESTSUITE01</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>